.container-main footer {
    display: grid;
    background-color: #1e293b;
    color: #ffffff;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 0.9rem;
    border-top: 2px solid #94a3b8;
    margin-top: 20px;
  }

  .container-main footer p {
    margin: 5px 0;
  }

  .container-main footer .footer-name-starflowers {
    display: flex;
    justify-content: center;
    align-self: start;
    gap: 5px;
  }

  .container-main footer .footer-name-starflowers img {
    width: 140px;
  }
  
  .container-main footer a {
    color: #ef4444;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .container-main footer a:hover {
    color: #f87171;
    text-decoration: underline;
  }
  