<app-nav></app-nav>

<div class="container-main">
    <div class="container-sections">
        <h2>INDICADORES DIARIOS</h2>

        <div class="container-search-weight">
            <h3>Consulta de peso específico</h3>
            <div class="headers">
                <div class="header-date">
                    <input type="date" id="date-filter" />
                </div>
                <div class="container-inputs">
                    <div class="input-origin">
                        <select id="variety">
                            <option value="">Variedad</option>
                            <option value="xlence">XLENCE</option>
                            <option value="cloud">CLOUD</option>
                        </select>
                    </div>
                    <div class="input-submit">
                        <button class="button-submit" onclick="updateTable()">Consultar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Resultados -->
        <div class="container-results">
            <h3>Resultados</h3>
            <div class="table-results">
                <table>
                    <thead>
                        <tr id="table-header">
                            <!-- Se llena dinámicamente -->
                        </tr>
                    </thead>
                    <tbody id="table-body">
                        <!-- Se llena dinámicamente -->
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div class="container-tables">
        <div class="container-preclasification">
            <h2>INDICADORES DE PRECLASIFICACIÓN</h2>
            <div class="container-table">
                <table>
                    <thead>
                        <tr >
                            <th>Grado</th>
                            <th *ngFor="let i of preclasificacion.days; let idx = index">{{ preclasificacion.days[idx] }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of preclasificacion.grade; let idx = index">
                            <td>{{ preclasificacion.grade[idx] }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container-opening">
            <h2>INDICADORES DE APERTURA</h2>
            <div class="container-table">
                <table>
                    <thead>
                        <tr >
                            <th>Grado</th>
                            <th *ngFor="let i of preclasificacion.days; let idx = index">{{ preclasificacion.days[idx] }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of preclasificacion.grade; let idx = index">
                            <td>{{ preclasificacion.grade[idx] }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container-cloud">
            <h2>INDICADORES DE CLOUD</h2>
            <div class="container-table">
                <table>
                    <thead>
                        <tr >
                            <th>Grado</th>
                            <th *ngFor="let i of preclasificacion.days; let idx = index">{{ preclasificacion.days[idx] }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of preclasificacion.grade; let idx = index">
                            <td>{{ preclasificacion.grade[idx] }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container-gv">
            <h2>INDICADORES DE GV</h2>
            <div class="container-table">
                <table>
                    <thead>
                        <tr >
                            <th>Grado</th>
                            <th *ngFor="let i of preclasificacion.days; let idx = index">{{ preclasificacion.days[idx] }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of preclasificacion.grade; let idx = index">
                            <td>{{ preclasificacion.grade[idx] }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>