<app-nav></app-nav>

<div class="container-main">
  <div class="container-sections">
    <h2>INDICADORES DIARIOS</h2>

    <div class="container-indicator-daily">
      <div class="container-indicator-by-day">
        <div class="indicator-by-day">
          <div class="container-weight-day">
            <h3>Balanza 1 vs Balanza 1AB</h3>
            <div class="container-chart">
              <app-weekly-chart [chartData]="weeklyData1"></app-weekly-chart>
              <div class="legenda-chart">
                <div class="legenda-bal">
                  <h4>Balanza 1: {{balance1}}</h4>
                </div>
                <div class="legenda-bal">
                  <h4>Balanza 1AB: {{balance1AB}}</h4>
                </div>
                <div class="legenda-loss-between">
                  <h4>PERDIDA: {{loss}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="indicator-by-day">
          <div class="container-weight-day">
            <h3>Balanza 1AB vs Balanza 2</h3>
            <div class="container-chart">
              <app-weekly-chart [chartData]="weeklyData2"></app-weekly-chart>
              <div class="legenda-chart">
                <div class="legenda-bal">
                  <h4>Balanza 1AB: {{balance1}}</h4>
                </div>
                <div class="legenda-bal">
                  <h4>Balanza 2: {{balance1AB}}</h4>
                </div>
                <div class="legenda-loss-between">
                  <h4>PERDIDA: {{loss}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-search-weight">
      <h3>Consulta de peso específico</h3>
      <div class="headers">
        <div class="header-date">
          <input type="date" id="date-filter" />
        </div>
        <div class="container-inputs">
          <div class="input-origin">
            <select id="variety">
              <option value="">Variedad</option>
              <option value="Variedad 1">XLENCE</option>
              <option value="Variedad 2">CLOUD</option>
            </select>
          </div>
          <div class="input-variety">
            <select id="destination">
              <option value="">Destino</option>
              <option value="preclasificacion">PRECLASIFICACION</option>
              <option value="gv">GV SIN PELAR</option>
              <option value="apertura">APERTURA</option>
            </select>
          </div>
          <div class="input-submit">
            <button class="button-submit" (click)="datafilter()">Consultar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container-tables">
      <div class="container-preclasification">
        <h2>Balanza 1 vs Balanza1AB</h2>
          <div class="container-table">
              <table>
                  <thead>
                      <tr >
                          <th>Fecha</th>
                          <th>Balanza 1</th>
                          <th>Balanza 1AB</th>
                          <th>Perdida</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of indicatorsData">
                      <td>{{ item.date }}</td>
                      <td>{{ item.balanza_1 }}</td>
                      <td>{{ item.balanza_1AB }}</td>
                      <td>{{ item.loss }}</td>
                    </tr>
                  </tbody>
              </table>
          </div>
      </div>
      <div class="container-opening">
        <h2>Hidratación Balanza 1AB vs Balanza 2</h2>
          <div class="container-table">
              <table>
                  <thead>
                    <tr >
                        <th>Fecha</th>
                        <th>Balanza 1</th>
                        <th>Balanza 1AB</th>
                        <th>Perdida</th>
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of hydrationData">
                    <td>{{ item.date }}</td>
                    <td>{{ item.balanza_1 }}</td>
                    <td>{{ item.balanza_1AB }}</td>
                    <td>{{ item.loss }}</td>
                  </tr>
                </tbody>
              </table>
          </div>
      </div>
      <div class="container-cloud">
        <h2>Desperdicio Balanza 2 vs Balanza 3</h2>
          <div class="container-table">
              <table>
                <thead>
                  <tr >
                      <th>Fecha</th>
                      <th>Blanco B2</th>
                      <th>Blanco B3</th>
                      <th>Perdida</th>
                      <th>Tinturado B2</th>
                      <th>Tinturado B3</th>
                      <th>Perdida</th>
                      <th>Arcoiris B2</th>
                      <th>Arcoiris B3</th>
                      <th>Perdida</th>
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of lossData">
                  <td>{{ item.date }}</td>
                  <td>{{ item.blanco_B2 }}</td>
                  <td>{{ item.blanco_B3 }}</td>
                  <td>{{ item.perdida_blanco }}</td>
                  <td> {{ item.tinturado_B2 }} </td>
                  <td> {{ item.tinturado_B3 }} </td>
                  <td> {{ item.perdida_tinturado }} </td>
                  <td> {{ item.arcoiris_B2 }} </td>
                  <td> {{ item.arcoiris_B3 }} </td>
                  <td> {{ item.perdida_arcoiris }} </td>
                </tr>
              </tbody>
              </table>
          </div>
      </div>
  </div>

  </div>
</div>

<app-footer></app-footer>