<app-nav></app-nav>
<div class="container-main">
    <div class="container-sections">
        <section id="welcome-info">
            <div class="container-text">
                <div class="container-img">
                    <img src="assets/logo.DQH3MX5-_S8thR.svg" alt="">
                </div>
                <h2>Bienvenido a la plataforma de administración de indicadores de las balanzas</h2>
                <p>
                    Utilice esta herramienta para consultar, analizar, comparar y generar informes sobre los indicadores
                    de
                    balanza, así como para realizar seguimiento de las actividades de control y evaluación de la
                    estructura
                    financiera.
                    <br><br>
                    Los indicadores muestran la información de las balanzas en un rango de 15 días. Lo que permite
                    manejar
                    información no reciente y evitar
                    confusiones al momento de filtrar la información.
                </p>
            </div>

            <div class="container-options">
                <h2>Opciones disponibles</h2>
                <a [routerLink]="['/indicators']">Indicadores</a>
                <a [routerLink]="['/outbreak-room']">Sala en Brote</a>
                <a [routerLink]="['/outbreak-room-by-day']">Sala en Brote por Dìa</a>
            </div>
        </section>

        <section id="section-extra-info">
            <img src="assets/working.B14Oj-uA_ZzsSsx.webp" alt="">
        </section>
    </div>
</div>

<app-footer></app-footer>