<div class="container-main-nav">
    <div class="container-icon">
        <img src="assets/icon-logo.Bi0O_rGO_Z1iLfJp.svg" alt="">
        <h3>StarFlowers</h3>
    </div>
</div>

<div class="container-main">
    <div class="container-sections">

        <section id="login">
            <div class="container-form">
                <h2>Bienvenido a la plataforma de Indicadores de las Balanzas</h2>
                <br>
                <form (ngSubmit)="login()" #loginForm="ngForm">
                    <h2>Iniciar Sesión</h2>
                
                    <!-- 🔹 Campo de usuario con binding -->
                    <input 
                        type="text" 
                        name="username" 
                        id="username" 
                        placeholder="Nombre de Usuario" 
                        [(ngModel)]="usernameValue"
                        required> 
                
                    <!-- 🔹 Contenedor de la contraseña con el botón de mostrar/ocultar -->
                    <div class="password-container">
                        <input 
                            [type]="mostrarContrasena ? 'text' : 'password'" 
                            name="password" 
                            id="password" 
                            placeholder="Contraseña" 
                            [(ngModel)]="passwordValue"
                            required> 
                
                        <span class="toggle-password" (click)="toggleMostrarContrasena()">
                            {{ mostrarContrasena ? 'Ocultar' : 'Mostrar' }}
                        </span>
                    </div>

                    <button 
                    (click)="animateLogOut()"
                    [disabled]="isLoading"
                    >
                      <span *ngIf="!isLoading">Ingresar</span>
                      <div *ngIf="isLoading" class="spinner"></div>
                    </button>
                </form>
                <div class="container-message" *ngIf="message_null">
                    <p>Por favor, complete todos los campos.</p>
                </div>

                <div class="container-message" *ngIf="message_incorrect">
                    <p>Nombre de usuario o contraseña incorrectos</p>
                </div>
                
                <div class="container-message" *ngIf="sessionExpired">
                    <p>Tu sesión ha caducado. Por favor, vuelve a iniciar sesión.</p>
                </div>
            </div>

            <div class="container-text">
                <p>
                    Utilice esta herramienta para consultar, analizar, comparar y generar informes sobre los indicadores
                    de
                    balanza, así como para realizar seguimiento de las actividades de control y evaluación de la
                    estructura
                    financiera.
                    <br><br>
                    Los indicadores muestran la información de las balanzas en un rango de 7 días.
                </p>
            </div>
        </section>

        <section id="section-extra-info">
            <img src="assets/working.B14Oj-uA_ZzsSsx.webp" alt="">
        </section>
    </div>
</div>

<app-footer></app-footer>