/* Estilo para la navegación */
.container-main {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.container-nav {
    width: 100%;
    max-width: 1200px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: rgb(119, 119, 119);
    font-size: 18px;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    /* border-block-end: 2px solid rgb(119, 119, 119); */
    color: #333;
}

nav ul button {
    background-color: #fff;
    color: #1e293b;
    padding: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

nav ul button:hover {
    background-color: #334155;
    color: #fff;
}

.active-link {
    position: relative;
    color: #000 !important;
    /* Cambia el color del texto a negro */
    font-weight: bold;
    border-block-end: 2px solid #000;
}

/* 🔹 Efecto de cierre de sesión: desvanecer + reducir tamaño */
.fade-out {
    animation: fadeOutExit 0.5s ease-in-out forwards;
}

@keyframes fadeOutExit {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.95);
    }
}