/* Estilo para la navegación */
.container-main {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.container-nav {
    width: 100%;
    max-width: 1200px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: rgb(119, 119, 119);
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    /* border-block-end: 2px solid rgb(119, 119, 119); */
    color: #333;
}

nav ul button {
    background-color: #fff;
    color: #1e293b;
    padding: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.active-link {
    position: relative;
    color: #000 !important;
    /* Cambia el color del texto a negro */
    font-weight: bold;
    border-block-end: 2px solid #000;
}

button {
    background-color: #fff;
    color: #1e293b;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.1s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 120px; /* Para evitar que el botón cambie de tamaño */
}

button:disabled {
    cursor: not-allowed;
    background-color: #e2e8f0;
    color: #94a3b8;
}

.spinner {
    width: 16px;
    height: 16px;
    border: 2px solid #1e293b;
    border-top: 2px solid transparent;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
